Package: ws.hbang.cobalia
Name: Cobalia (iOS 8)
Depends: mobilesubstrate, firmware (>= 8.0), firmware (<< 9.0), com.a3tweaks.flipswitch (>= 1.0.6), preferenceloader, ws.hbang.common (>= 1.2)
Version: 1.0.1
Architecture: iphoneos-arm
Description: Switches in the iOS 8 app switcher
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://www.hbang.ws/faq/
Section: Tweaks
