<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.cobalia</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Switches</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>FlipswitchSettings</string>
			<key>flipswitchTemplateBundle</key>
			<string>/Library/PreferenceBundles/Cobalia.bundle</string>
			<key>flipswitchSettingsFile</key>
			<string>/var/mobile/Library/Preferences/ws.hbang.cobalia.plist</string>
			<key>flipswitchPostNotification</key>
			<string>ws.hbang.cobalia/ReloadPrefs</string>
			<key>flipswitchEnabledKey</key>
			<string>Switches</string>
			<key>flipswitchDisabledKey</key>
			<string>SwitchesOff</string>
			<key>flipswitchDefaultEnabled</key>
			<array>
				<string>com.a3tweaks.switch.airplane-mode</string>
				<string>com.a3tweaks.switch.wifi</string>
				<string>com.a3tweaks.switch.do-not-disturb</string>
				<string>com.a3tweaks.switch.rotation-lock</string>
				<string>com.a3tweaks.switch.vibration</string>
				<string>com.a3tweaks.switch.respring</string>
				<string>com.a3tweaks.switch.flashlight</string>
			</array>
			<key>flipswitchSettingsMode</key>
			<string>reordering</string>
			<key>flipswitchNewAreDisabled</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.cobalia</string>
			<key>key</key>
			<string>SectionLabel</string>
			<key>label</key>
			<string>Section Label</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.cobalia</string>
			<key>key</key>
			<string>SwitchLabels</string>
			<key>label</key>
			<string>Switch Labels</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBCBAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>About</string>
		</dict>
	</array>
	<key>title</key>
	<string>Cobalia</string>
</dict>
</plist>
